doctype html
html(ng-app='mean')
  head
    title= title
    script(type='text/javascript', src='javascripts/angular.js')
    script(type='text/javascript', src='javascripts/script.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
