extends layout

block content
	div(ng-controller='loginController', ng-init='formLogin=true') 
		form(method='post', ng-submit='logar(login)', ng-show='formLogin')
			label usuário:
			input(type='text', ng-model='login.usuario')
			br

			label senha:
			input(type='password', ng-model='login.senha')
			br

			input(type='submit', value='entrar')
			br

		form(method='post', ng-submit='cadastrar(cadastro)', ng-show='!formLogin')
			label usuário:
			input(type='text', ng-model='cadastro.usuario')
			br

			label senha:
			input(type='password', ng-model='cadastro.senha')
			br

			label confirme a senha:
			input(type='password', ng-model='confSenha')
			br

			input(type='submit', value='cadastrar')
			br

		button(ng-click='formLogin=false', ng-show='formLogin') cadastrar-se
		button(ng-click='formLogin=true', ng-show='!formLogin') logar-se